@media only screen and (max-width: 1250px) {
    .d-flex {
        justify-content: space-around;
    }
}


@media only screen and (max-width: 900px) {
    header .container {
        justify-content: center;
    }

    body.nav-active .menu-icon{
        position: fixed;
        top: 40px;
        right: 25px;
    }
    .header-wrapper {
        width: calc(100% - 100px);
        min-height: 45px;
    }

    .logo-wrap {
        top: 10px;
    }
    .nav-but-wrap{
        display: inline-block;
    }

    .nav{
        position: fixed;
    }

    .nav__list{
        display: inherit;
    }

    .nav__content{
        position: fixed;
        visibility: hidden;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        margin-top: 20px;
    }

    .nav__list-item{
        opacity: 0;
        overflow: hidden;
        letter-spacing: 3px;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
    }
    .nav__list-item a{
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .nav__list-item:first-of-type{
        margin-right: inherit;
    }
    .nav__list-item:first-of-type a{
        font-size: inherit;
    }
    .nav__list-item:last-of-type a{
        margin-bottom: 0;
    }
    .nav__list-item:last-of-type a:hover{
        animation: none;
    }
}

@media only screen and (max-width: 767px) {
    .main_banner {
        height: 60vh;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    .photo_banner {
        padding-right: 20px;
    }

    .photo_banner2 {
        padding-right: 20px;
    }

    .photo_banner3 {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 594px) {
    .clients_banner p {
        padding: 0 10px 82px 10px;
    }

    .clients_banner a {
        margin: 10px 15px;
    }
}

@media only screen and (max-width: 420px) {
    .components {
        right: 15px;
        bottom: 30px;
    }
    .components li {
        margin-left: 10px;
        font-size: 9px;
    }
    .main_banner h3 {
        font-size: 10px;
    }
    .main_banner h1 {
        font-size: 34px;
    }
    .main_banner p {
        font-size: 10px;
        padding: 0 10px;
    }
    .photo_banner {
        justify-content: center;
        padding: 0;
    }
    .photo_banner .photo_text_container{
        margin: auto;
    }
    .photo_banner h3 {
        font-size: 10px;
    }
    .photo_banner p {
        font-size: 10px;
    }
    .photo_banner2 {
        justify-content: center;
        padding: 0;
    }
    .photo_banner2 .photo_text_container2{
        margin: auto;
    }
    .photo_banner2 h3 {
        font-size: 10px;
    }
    .photo_banner2 p {
        font-size: 10px;
    }
    .clients_banner h3{
        font-size: 30px;
    }
    .clients_banner p{
        font-size: 14px;
    }
    .photo_banner3 {
        justify-content: center;
        padding: 0;
    }
    .photo_banner3 .photo_text_container3{
        margin: auto;
    }
    .photo_banner3 h3 {
        font-size: 10px;
    }
    .photo_banner3 p {
        font-size: 10px;
    }
    .contact_banner h3{
        font-size: 30px;
    }
    .contact_banner p{
        font-size: 14px;
    }
    .contact_banner a{
        font-size: 14px;
    }
}
@media only screen and (max-width: 360px) {
    .main_banner {
        height: 70vh;
    }
}

